.checkout-page {
    width: 55%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    margin: 50px auto 0;
   
  
    .checkout-header {
      width: 100%;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid darkgrey;
      @media screen and(max-width: 800px){
        display: flex;
        justify-content: flex-start;
        gap: 18px;
        font-size: 10px;
        border-bottom: 1px solid darkgrey;
        
      }
  
      .header-block {
        text-transform: capitalize;
        width: 23%;
        @media screen and(max-width: 800px){
          width: unset;
          font-size: 13px;
          .remove{}
        }
  
        &:last-child {
          width: 8%;
        }
      }
    }
  
    .total {
      margin-top: 30px;
      margin-left: auto;
      font-size: 36px;
    }
    .stripe{
      margin-top: 30px;
    }
    @media screen and(max-width: 800px){
      width: 98%;
      margin: 0 auto;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      .total{ 
        font-size: 1.2rem;
        margin-top: 20px;
  
      }
    }
  }