.header {
 margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  max-width: 1285px;
  padding: 10px 0;
  margin-bottom: 2px;
  .logo-container {
    height: 100%;
    width: 70px;
  
  }

  .options {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.5rem;

    .option {
      cursor: pointer;
      padding: 0 15px;
    }
  }
  @media screen and(max-width: 800px){
    .logo-container {
      height: 100%;
      width: 60px;
    
  }
  .options {
    width: 80%;
    height: 100%;
    font-size: 1.2rem;
}
}
}
