  
.sign-in-and-sign-up {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    @media screen and(max-width: 800px){
      width: 90%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
  }